:root  {
    --primary: rgb(51, 51, 55);
    --secondary: rgb(5, 137, 181);
    --gradient: linear-gradient(135deg, var(var(--primary), var(var(--secondary))));
    --heading: rgb(80, 162, 255);
    --paragraph: rgb(160, 205, 255);
    --shadow: 0 10px 30px rgba(48, 45, 105, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background Color*/
html {
    background-color: rgb(62, 62, 62);
}

/*Default cusomization*/
h1, h2, h3, td, th, p ,li{
    color: var(--heading);
}

td, p, li, h4 {    
    color: var(--paragraph);
    border-width: 60px;
}

section {
    padding: calc(var(10px * 2));
    margin: 30px ;
}

/*Audio Display */
audio {
    display: none;
}


/*Anchor tags and Hover effects*/
a {
    color: var(--paragraph);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
}

/*Top Page heading*/
.heading {
    background-color: var(--primary);
    padding: 40px;
    position: relative;
    justify-content: space-between;
    display: flex;
    top: 0;
    z-index: 100;
}

/*Navigation Links*/
.nav-links  {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--heading);
}

/*Flexing Defaults*/
.center {
    display: flex;
    justify-content: center;
}

/*Project Cards*/

.project-grid {
    display: flex;
    flex-wrap: wrap;

}

.project-card {
    flex: 1 1 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact  {
    display: block;
    width: 100px;
    padding: 5px;
    border: 2px ;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
}

.profile-links {
    color: var(--paragraph);
}

.aboutme {
    flex-wrap: wrap;
    display: flex; 
    justify-content: space-around;
    text-align: left;
    
}

/*Experience*/
.experience {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.aboutmeh3 {

   margin-bottom: 10px;
}

/*References*/
.reference {
    display: flex;
    flex-wrap: wrap;
    align-content: space-arounds;
}
